<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="lib/jQuery.js"></script>
	<script type="text/javascript" src="lib/vue/vue.js"></script>
	<script type="text/javascript" src="lib/vue/vue-resource.js"></script>
	<link rel="icon" type="text/css" href="images/favicon.ico">
</head>
<body>
	<div id="app">
		<input type="text" name="user" v-model="sendData.name" placeholder="姓名">
		<input type="text" name="pwd" v-model="sendData.age" placeholder="年龄">
		<button class="test1">添加数据（post）</button>
		<button class="test2">查询数据（get）</button>
		<button class="test3">formdata测试</button>
		<table border="1">
			<caption>title</caption>
			<thead>
				<tr>
					<th>id</th>
					<th>name</th>
					<th>age</th>
					<th>option</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(item, index) in dataArr">
					<td> {{index + 1}} </td>
					<td> {{item.name}} </td>
					<td> {{item.age}} </td>
					<td> <button @click="deleteData(item)">del</button> </td>
				</tr>
			</tbody>
		</table>
	<div id="test"><button>name</button></div>
	</div>

	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>